h1, h2, h3 {
	color: rgb(0, 146, 208);
}

.obj_article_summary>.title a {
    text-decoration: none;
    color: rgb(0, 146, 208);
}

.obj_article_summary>.title a:hover {
    text-decoration: none;
    color: #006798;
}

.obj_issue_summary .title {
    text-decoration: none;
    color: rgb(0, 146, 208);
}

.obj_issue_summary .title:hover{
    text-decoration: none;
    color: #006798;
}

.pkp_navigation_primary .dropdown-menu a:focus, 
.pkp_navigation_primary .dropdown-menu a:hover {
    border-color: rgb(0, 146, 208);
}

.header_view {
    background: rgb(0, 146, 208);
}