/* ----------------
Variables
------------------*/
@idai-gradient: linear-gradient(to right, rgba(106, 164, 184, 0.95) 0%, rgba(71, 123, 199, 0) 95%);
@header-img-path: "https://publications.test.dainst.org/books/plugins/themes/publications-theme/images/idai_publications_header_sw.jpg";
@idaiworldbanner-path: "https://publications.test.dainst.org/books/plugins/themes/publications-theme/images/idaiworld-banner.png";

/* -------------
dai-header
---------------*/

.pkp_navigation_user_wrapper {
	padding-left: 0;
	padding-right: 0;
	min-width: 99.5vw;
}

#navigationUser {
	background: @idai-gradient;
	box-shadow: 2px -1px 10px 0px #2a2a367d;
	-webkit-box-shadow: 2px -1px 10px 0px #2a2a367d;
	width: 100%;
	padding: 0 1vw;
}

iframe {
	background-color: white;
	height: 100vh;
	width: 200px;
	border: 1px solid #dfdada;
}

#idai-world-dropdown {
	left: 0;
	position: absolute;

	/* Hide idai-world-dropdown in user navigation on mobile devices */
	@media not all and (min-width: 1199px) {
		display: none;
	}
}

#idai-world-dropdown a {
	font-size: 23px;
	padding: 1.5vh 1vw;
}

#idai-world-dropdown a:after {
	content: none;		// Prevent caret icon from being added to dropdown <a> element by bootstrap4 css
}

#idai-publications-logo {
	height: 30px;
	position: absolute;
	padding-left: 15px;
	max-width: unset;
	left: 30px;
	top: 5px;
}

#language-dropdown {
	padding-top: 1vh;
}

#language-dropdown[aria-haspopup]:after {
	color: white;
}

#header-lang-globe {
	height: 25px;
}

a#dai-logo {
	width: 20%;
	float: right;
	margin-top: 0.357rem;
	margin-bottom: 0.357rem;
	margin-right: 2.5vw;
}

img#dai-logo-img {
	max-height: 80px;
	float: right;
}


/* -------------
dai-footer
---------------*/

.pkp_structure_footer_wrapper {
	display:none;	/* hide default footer */
}

#idai-world-footer {
	background: #5882c2;
	padding: 3vh 0;
}

#footer-container {
	text-align: center;
}

#contact {
	color: white;
	letter-spacing: 0.1em;
}

#contact a {
	color: #ebebeb;
	text-decoration: none;
}

#contact a:hover {
	color: #9be5ff;
}

#footer-container img {
	max-width: 50%;
}

#footer-additional-row {
	font-size: 0.9em;
	color: white;
	text-align: center;
}

#footer-additional-row p {
	margin-bottom: 0;
}

#footer-additional-row span {
	margin-right: 30px;
}

#footer-additional-row a {
	color: white;
	text-decoration: none;
}

li.profile {
	bottom: 1vh;
}

/*----------------------
generic elements (PKP)
----------------------*/

html {
	background: url(@idaiworldbanner-path);
	background-size: contain;
	background-repeat: repeat;
}

body {
	background: #0f17193d;
	font-family: "Cargan", serif;
}

.pkp_structure_head {
	background: center / cover no-repeat url(@header-img-path);
	border-top: none;
	border-bottom: none;
}

.pkp_head_wrapper  {
	padding-top: 8vh;
}

.has_site_logo .pkp_head_wrapper {
	padding-top: 8vh;
}

.pkp_site_name .is_img img {
	max-height: 90px;
}

.pkp_site_name .is_text {
	width: 70%;
	float: left;
	line-height: 2.857rem;
	font-size: 2.8rem;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	letter-spacing: .03em;
	text-decoration: none;
	padding: 2vw;
}

.pkp_site_name>a {
	padding-top: 0;
}

.pkp_site_nav_menu {
	padding: 0 1vw;
}

.pkp_site_nav_menu ul ul {
	padding-top: 1.5vh;
}

.pkp_structure_main {
	background: #fffdfd;
}

.pkp_structure_content {
	background: #ffffff;
	padding-top: 0;
}

.pkp_structure_main h1 {
	font-size: 1.5rem;
}

.pkp_structure_main p {
	font-family: "Open Sans", sans-serif;
	text-align: justify;
	hyphens: auto;
	-webkit-hyphens: auto;
	margin-top: 0;
}

.pkp_structure_main p.value {
	margin-top: 0;
}

.pkp_structure_sidebar {
	margin-top: 6vh;
}

.pkp_structure_sidebar a {
	font-size: 0.95em;
}

#navigationPrimary {
	padding-left: 1vw;
	font-size: 1.2em;
}

.pkp_navigation_primary_wrapper {
	min-height: 6vh;
}

.pkp_navigation_primary>li>a {
	color: #ffffff;
}

.pkp_navigation_search_wrapper a {
	color: #ffffff;
}

.pkp_site_nav_menu a {
	color: #ffffff;
}



